<!-- Modal -->
<div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="row">
          <div class="col-xs-12">
            <header>
              <h4 class="modal-title-text">Login</h4>
            </header>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <form id="login-form" novalidate>
              <div class="form-group">
                <input type="text" required="true" class="form-control" id="username-modal" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="email" required="true" pattern="([\w\.]+)@([\w\.]+)\.(\w+)" class="form-control" id="email-modal" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" required="true" class="form-control" id="password-modal" placeholder="Password">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
                <a href="#" class="accent-text">Forget Password?</a>
              </div>
              <div id="error-message" class="block-content">
                <div class="text-error">
                  <p class="error-text">texto prueba</p>
                </div>
              </div>
              <div class="submit-actions">
                <button type="submit" class="btn btn-primary">Sign in</button>
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p class="no-account">If you don't have account <a href="#" class="accent-text">Sign up here</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4 class="modal-title-text" id="myModalLabel">Sign in with Social Media</h4>
          </div>
        </div>
        <div class="social-container">
          <div class="button-container">
            <div class="icon-item">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
          </div>
          <div class="button-container">
            <div class="icon-item">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
          </div>
          <div class="button-container">
            <div class="icon-item">
              <i class="fa fa-google" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>