.spinner-container {
  text-align: center;
  padding: 10px 0;
  &.not-loading {
    display: none;
  }
  &.loading {
    display: block;
  }
}
.card-container {
  &.close-replies {
    .card-child {
      overflow-y: hidden;
      max-height: 0;
    }
    .card-parent .divider-line {
      display: none;
    }
    .material-icons {
      &.up {
        display: none;
      }
      &.down {
        display: block;
      }
    }
  }
  &.open-replies {
    .card-child {
      overflow-y: hidden;
      max-height: 700px;
    }
    .card-parent .divider-line {
      display: initial;
    }
    .material-icons {
      &.up {
        display: block;
      }
      &.down {
        display: none;
      }
    }
  }
  .card-child {
    transition: all .3s linear;
  }
}
.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto;
  background-color: #FFF;
  border-radius: 10px;
  padding: 15px 10px 15px 10px;
  z-index: 5;
  position: relative;
  border: 1px solid $divider-color;
  .card-header {
    display: flex;
    .material-icons {
      color: $icon-color;
    }
    .card-header-item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      &:nth-child(2) {
        width: 61%;
        @include tablet {
          width: 75%;
        }
      }
      &:nth-child(3) {
        flex-direction: row;
        align-items: center;
        width: 15%;
        span {
          margin-right: 2px;
          color: $icon-color;
        }
      }
    }
    .image-container {
      width: 20%;
      margin-right: 10px;
      @include tablet {
        width: 10%;
      }
    }
    h3 {
      margin: 0;
      font-size: 2.5rem;
      color: $accent-color;
    }
    span {
      font-size: 1.2rem;
      font-style: italic;
    }
  }
  .card-body {
    font-size: 1.5rem;
    padding: 10px 0px 5px;
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card-footer-item {
      display: flex;
      align-items: flex-end;
      font-size: 1.5rem;
    }
  }
  .divider-line {
    height: 20px;
    width: 2px;
    position: absolute;
    bottom: -20px;
    background-color: $divider-color;
    right: 50%;
    z-index: -1;
  }
  .reply-from {
    margin: 10px 0 0 0;
    overflow-y: hidden;
    transition: all .3s linear;
    &.open-form {
      max-height: 500px;
      border: 1px solid $divider-color;
    }
    &.close-form {
      max-height: 0;
      border: none;
    }
  }
}