.comment-title {
  border-bottom: 1px solid $dark-primary-color;
}
#error-comment-message, .block-content-child {
  display: none;
  .text-error {
    p {
      color: $error-text;
    }
  }
}
.comment-container {
  background-color: #FEFEFE;
  border-radius: 10px;
  width: 100%;
  opacity: 1;
  margin-bottom: 30px;
  border: 1px solid $divider-color;
  &.open-form {
    .comment-form {
      height: 210px;
      overflow-y: auto;
      @include tablet {
        height: 170px;
      }
    }
    .header-item {
      display: block;
    }
    #show-comment, .show-comment {
      display: none;
    }
  }
  &.close-form {
    .header-comment {
      cursor: pointer;
    }
    .header-item {
      display: none;
    }
    .comment-form {
      height: 0;
      overflow-y: hidden;
    }
    #show-comment, .show-comment {
      margin: 0 10px;
      display: block;
    }
  }
  .comment-form {
    transition: height .3s linear;
  }
  #content-comment, .content-comment-child {
    width: 100%;
    min-height: 150px;
    font-size: $font-size-large;
    padding: 10px;
    outline: none;
    @include tablet {
      min-height: 110px;
    }
  }
  .form-group {
    margin: 0;
  }
  .submit-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .submit-item {
      display: inline-block;
      margin: 5px;
    }
    .fa-spinner {
      display: none;
    }
  }
  .header-comment {
    display: flex;
    align-items: center;
    &:active,
    &:focus,
    &:visited {
      opacity: 1;
    }
    .image-container {
      width: 15%;
      margin: 10px;
      @include tablet {
        width: 5%;
        margin: 20px;
      }
    }
    .avatar-container {
      color: $accent-color;
    }
  }
}