.promo-header {
  position: relative;
  width: 100%;
  height: auto;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/promo_header_1_mobile.jpg);
  background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url(../images/promo_header_1_mobile.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  margin-bottom: 25px;
  margin-top: $height-navbar;
  @include tablet {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/promo_header_1.jpg);
    background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url(../images/promo_header_1.jpg);
  }
  @include desktop {
    height: calc(100vh - 92px);
  }
  .header-title-center {
    padding: 15px 0;
    font-family: $main-font-family;
    color: $light-primary-color;
    height: 100%;
    @include displayflex;
    @include flex-direction-column;
    @include justy-content-center;
    .promo-content {
      font-family: $main-font-family;
      font-size: $font-size-base + 0.1rem;
      @include tablet {
        font-size: $font-size-base + 0.5rem;
      }
      span {
        color: $accent-color;
      }
    }
    .sign-up-block {
      .btn:hover,
      .btn:active,
      .btn:focus, {
        background-color: transparent;
        border-color: $accent-color;
      }
    }
  }
  .close-header {
    color: $light-primary-color;
    position: absolute;
    right: 5px;
    font-size: $font-size-large;
    @include desktop {
      display: none;
    }
  }
}