
#main-content {
  color: $primary-text-color;
  font-size: $font-size-h1;
  img {
    width: 100%;
  }
}
.cut-words{
  padding:15px;
  font-size: $font-size-large;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
.title-list {
  text-align: center;
  padding-bottom: 5%
}