.breadcrumb-flex {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important
}
.breadcrumb-box {
  border-radius: 20px;
  margin: 20px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  border: 1px solid rgba(0, 0, 0, .09);
  color: rgba(0, 0, 0, .8);
  font-size: 13px;
}