@mixin displayflex() {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
@mixin align-items-center() {
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
}
@mixin justy-content-space-between() {
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
}

@mixin justy-content-center() {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin justy-content-start() { 
  -webkit-box-pack:start;
  -webkit-justify-content:start;
  -ms-flex-pack:start;
  justify-content: flex-start;
}
@mixin wrap() {
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}
@mixin align-self-center () {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; 
}
@mixin flex-direction-row () {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@mixin flex-direction-column () {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@mixin justy-content-space-around() {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}