.footer {
  background-color: $light-primary-color;
  color: $primary-text-color;
  width: 100%;
  max-width: 100%;
  position: relative;
  padding: 10px 0;
  border-top: 1px solid lighten($primary-text-color, 40%);
  @include desktop {
    padding: 20px 0;
  }
  .content-footer {
    font-size: $font-size-small - 0.3rem;
    width: 80%;
    margin: 0 auto;
    @include displayflex;
    @include align-items-center;
    @include justy-content-space-between;
    @include flex-direction-column;
    @include tablet {
      font-size: $font-size-base;
    }
    @include desktop {
      @include flex-direction-row;
      width: 95%;
      .author {
        display: inline-block;
        padding-left: 5%;
      }
      .footer-menu {
        width: 100%;
        text-align: left;
        position: relative;
      }
      .divider {
        display: none;
      }
    }
    .footer-menu {
      @include displayflex;
      @include align-items-center;
      @include justy-content-space-between;
      @include flex-direction-column;
      @include desktop {
        width: 66%;
        @include flex-direction-row;
      }
    }
    .footer-brand-title {
      font-family: $main-font-family;
      font-size: $font-size-h3;
      text-align: center;
      span {
        font-size: $font-size-h6;
      }
      @include tablet {
        h2 {
          font-size: $font-size-base + 3.5rem;
        }
        span {
          font-size: $font-size-h4;
        }
      }
      @include desktop {
        width: 33%;
        h2 {
          margin: 0;
          font-size: $font-size-base + 1.5rem;
        }
      } 
    }
    .social-networks {
      @include displayflex;
      @include align-items-center;
      @include justy-content-space-around;
      padding: 10px 0;
      width: 90%;
      @include desktop {
        @include justy-content-center;
        width: 50%;
        padding: 0;
      }
      a {
        color: $light-primary-color;
        text-decoration: none;
        margin: auto;
        .fa {
          vertical-align: middle;
          font-size: $font-size-large + 0.5rem;
        }
      }
    }
    .menu-items {
      font-size: $font-size-small;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px 0;
      a {
        color: $primary-text-color;
        text-decoration: none;
        padding: 0 5px;
        @include transition(color .2s linear);
        @include tablet {
          font-size: $font-size-large + 0.1rem;
        }
        @include desktop {
          font-size: $font-size-base;
          &:hover {
            color: $accent-color;
          }
        }
        &:focus,
        &:active {
          color: $accent-color;
        }
      }
    }
    .divider {
      width: 90%;
      border-top: 1px solid lighten($primary-text-color, 40%);
    }
  }
  .go-up-page {
    position: absolute;
    right: 15px;
    top: calc(50% - 24px);
    cursor: pointer;
    @include tablet {
      right: 40px;
    }
    i {
      font-size: $font-size-large + 1.5rem;
      border-radius: 50%;
      background-color: $primary-text-color;
      color: $primary-text-color;
      opacity: 0.8;
      @include tablet {
        font-size: $font-size-base + 3.5rem;
      }
    }
  }
}
