.navbar {
  position: fixed;
  background-color: $light-primary-color;
  color: $secondary-text-color;
  margin: 0px;
  width: 100%;
  border-bottom: 1px solid $icon-color;
  z-index: 2;
  top:0;
  @include displayflex;
  @include wrap;
  @include desktop {
    background-color: $light-primary-color;
    color: $secondary-text-color;
    border-bottom: 1px solid $icon-color;
    .brand {
      a {
        color: $secondary-text-color !important;
      }
    }
    .content-categories {
      a {
        color: $secondary-text-color !important;
      }
    }
  }
  .content-navbar-header {
    width: 100%;
    padding: 15px;
    @include displayflex;
    @include justy-content-space-between;
    @include align-items-center;
    @include tablet {
      padding: 15px 30px 5px 30px;
    }
    @include desktop {
      padding: 15px 30px 5px 30px;
    }
    a {
      color: $primary-text-color;
    }
    .button-category {
      .material-icons {
        vertical-align: bottom;
      }
      @include desktop {
        display: none;
      }
    }
    .login {
      .mobile-search-access {
        @include tablet-desktop {
          display: none;
        }
        @include desktop {
          display: none;
        }
        .mobile-icons {
          cursor: pointer;
          color: $accent-color;
          display: inline-block;
          i {
            vertical-align: middle;
          }
        }
      }
      .display-over-tablet-desktop {
        color: $accent-color;
      }
      .search-bar-form {
        display: inline-block;
        padding: 0 0 0 15px;
        text-align: right;
        .text-search-input {
          outline: none;
          padding: 0;
          width: 0;
          color: $secondary-text-color;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid $accent-color;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          &.active {
            @include animation('expand-input .5s forwards');
          }
        }
        .search-button {
          background-color: transparent;
          border: none;
          outline: none;
          @include tablet-desktop {
            i {
              vertical-align: bottom;
            }
          }
          i {
            color: $accent-color;
            vertical-align: bottom;
          }
        }
      }
      .Sign-up, .login-button {
        cursor: pointer;
        text-decoration: none;
        vertical-align: bottom;
        color: $accent-color;
        @include tablet {
          display: inline-block;
          font-size: $font-size-large + 0.5rem;
        }
        @include desktop {
          font-size: $font-size-base;
          @include transition('color .2s linear');
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .brand {
      font-family: $main-font-family;
      max-width: 60px;
      a {
        height: 36px;
          text-decoration: none;
        color: $primary-text-color;
        font-size: $font-size-large + 0.5rem;
      }
    }
  }
  .search-bar-content {
    @extend .content-navbar-header;
    display: block;
    .search-bar-form {
      position: relative;
    }
    .search-button {
      background-color: transparent;
      border: none;
      i {
        color: $accent-color;
        vertical-align: text-top;
      }
    }
    .close-search-bar {
      position: absolute;
      top: 0;
      right: 0;
    }
    .text-search-input {
      outline: none;
      padding: 0 5px;
      width: 80%;
      border-radius: 20px;
      color: $secondary-text-color;
      background-color: $light-primary-color;
      border: none;
      border-bottom: 1px solid $accent-color;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
  .content-categories {
    width: 100%;
    @include desktop {
      width: auto;
    }
    .content-list-category {
      padding: 0 15px;
      @include desktop {
        padding: 0 30px;
      }
      .navbar-list {
        list-style-type: none;
        font-size: 0;
        width: 100%;
        float: right;
        overflow-y: auto;
        white-space: nowrap;
        margin: 0px;
        .navbar-item {
          display: inline-block;
          font-size: $font-size-base;
          padding: 0 5px 5px 5px;
          border-bottom: 2px solid transparent;
          @include transition(all .2s linear);
          &:first-child {
            padding-left: 0px;
          }
          @include tablet {
            padding: 0 10px 15px 10px;
            font-size: $font-size-large + 0.7rem;
          }
          @include desktop {
            font-size: $font-size-large;
            &:hover {
              border-bottom: 2px solid $accent-color;
              a {
                color: $accent-color !important;
              }
            }
          }
          a {
            text-decoration: none;
            color: $secondary-text-color;
            font-size: $font-size-large;
            @include transition(color .2s linear);
            @include tablet {
              font-size: $font-size-large + 0.7rem;
              vertical-align: middle;
            }
            @include desktop {
              vertical-align: inherit;
              font-size: $font-size-large;
              color: $icon-color;
              &:hover {
                color: $accent-color;
              }
            }
            &:active,
            &:focus {
              color: $accent-color;
            }
          }
        }
        .navbar-item.active {
          color: $accent-color;
        }
      }
    }
  }
}