.search-list {
  & > li {
    padding: 0 10px;
    position: relative;
  } 
  .divider-list {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $divider-color;
  }
  .search-fields-title, .comments-title {
    h2 {
      margin-top: 0px;
    }
  }
  .search-fields-content {
    @include displayflex;
    @include align-items-center;
    @include justy-content-space-between;
    padding: 10px;
    .search-fields-left-content {
      @include displayflex;
      @include align-items-center;
    }
    .search-fields-content-header {
      @include displayflex;
      @include flex-direction-column;
      .title-story {
        font-family: $main-font-family;
        padding-left: 5px;
        margin: 0;
        color: $primary-text-color;
        @include tablet {
          font-size: $font-size-large;
        }
      }
      .user-story {
        @extend .title-story;
        color: $accent-color;
        font-weight: 400;
        font-size: $font-size-large;
      }
    }
  }
  .categories {
    width: 40%;
    font-style: italic;
    font-weight: 300;
    color: $secondary-text-color;
    text-align: right;
    line-height: 1;
    @include displayflex;
    @include tablet {
      font-size: $font-size-base;
    }
    @include desktop {
      i {
        vertical-align: top;
      }
    }
    i {
      margin: 0 5px;
    }
    .list-of-categories {
      display: inline-block;
      margin: 0;
      .category-item {
        display: inline-block;
        float: left;
        @include desktop {
          font-size: $font-size-small;
        }
        &:after {
          content: ",\00a0";
        }
      }
    }
  }
  .profile-avatar {
    width: 32px;
    max-width: 32px;
    height: 32px;
    max-height: 32px;
    @include align-self-center;
    display: inline-block;
    @include tablet {
      width: 32px;
      max-width: 32px;
      height: 32px;
      max-height: 32px;
    }
    .avatar-img {
      border-radius: 50%;
      width: 100%;
      max-width: 100%;
    }
  }
}