.icon-item {
  background-color: $secondary-text-color;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  @include displayflex;
  @include align-items-center;
  @include justy-content-center;
  @include transition(background-color .2s linear);
  cursor: pointer;
  @include desktop {
    margin: 0 5px;
    &:hover {
      background-color: $accent-color;
    }
  }
  &:focus,
  &:active {
    background-color: $accent-color;
  }
  .fa {
    vertical-align: middle;
    font-size: $font-size-large + 0.5rem;
  }
}