body {
  .ui-element {
    display: none;
  }
  &.search-story {
    .website-full-view, .navbar {
      display: none;
    }
    .search-bar, .search-bar > .navbar {
      display: block;
      @include animation('fade-in .2s forwards');
    }
    @include desktop {
      .website-full-view, .navbar {
        display: block;
        @include animation('fade-in .2s forwards');
      }
      .search-bar, .search-bar > .navbar {
        display: none;
      }
    }
  }
  &.full-web {
    .website-full-view, .navbar {
      display: block;
      @include animation('fade-in .2s forwards');
    }
    .search-bar, .search-bar > .navbar {
      display: none;
    }
    @include desktop {
      .website-full-view, .navbar {
        display: block;
        @include animation('fade-in .2s forwards');
      }
      .search-bar, .search-bar > .navbar {
        display: none;
      }
    }
  }
  .states-coments {
    
    &.no-comments {
      .no-comments-container {
        display: block;
        @include animation('fade-in .2s forwards');
      }
    }
    
    &.comments {
      .comments-container {
        display: block;
        @include animation('fade-in .2s forwards');
      }
    }

  }
}