
$main-font-family: 'Roboto', sans-serif;

$font-size-base: 1.5rem;
$font-size-small: $font-size-base - 0.2rem;
$font-size-large: $font-size-base + 0.2rem;
$font-size-h1: $font-size-base + 1.5rem;
$font-size-h2: $font-size-base + 1.2rem;
$font-size-h3: $font-size-base + 0.8rem;
$font-size-h4: $font-size-base + 0.6rem;
$font-size-h5: $font-size-base + 0.4rem;
$font-size-h6: $font-size-base + 0.1rem;

$accent-color: #4285f4;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$icon-color: #9E9E9E;
$divider-color: rgba(0,0,0,.127);
$light-primary-color: #F5F5F5;
$dark-primary-color: #616161;
$error-text: #F44336;

$tablet-width: 768px;
$desktop-width: 1024px;
$tablet-desktop-width: 992px;
$mobile-width: 767px;

$height-navbar: 92px;