#sign-in-modal.in,
#sign-up-modal.in {
  display: flex !important;
  @include align-items-center;
  @include justy-content-center;
  text-align: center;
  @include tablet {
    .modal-dialog {
      width: 350px;
    }
  }
  #signup-form,
  #login-form {
    .btn {
      display: block;
    }
    .fa.fa-spinner {
      display: none;
    }
    &.loading {
      .btn {
        display: none;
      }
      .fa.fa-spinner {
        display: block;
      }
    }
  }
  .submit-actions {
    display: flex !important;
    @include align-items-center;
    @include justy-content-center;
  }
  #error-message, #error-message-signup {
    display: none;
    .text-error {
      p {
        color: $error-text;
      }
    }
  }
  .modal-body {
    .modal-title-text {
      margin: 10px 0;
    }
    .button-container {
      padding: 5px 0;
      button {
        padding: 15px 10px;
      }
    }
    .social-container {
      @include displayflex;
      @include align-items-center;
      @include justy-content-space-around;
      .button-container {
        color: $light-primary-color;
      }
    }
    .checkbox {
      text-align: left;
    }
    .accent-text {
      color: $accent-color;
      &:active,
      &:focus,
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .no-account {
      padding: 10px 0 0 0;
    }
    .close {
      position: absolute;
      top: 5px;
      right: 10px;
      z-index: 10;
    }
  }
  .btn-primary {
    width: 100%;
    &:active,
    &:focus {
      color: $light-primary-color;
    }
  }
}