@@include('./includes/shared/head.html')
<body class="full-web">
@@include('./includes/shared/navbar.html')

<div class="ui-element search-bar">
    @@include('./includes/shared/searchbar.html')
    <ul class="search-list">
        @@include('./includes/shared/searchitem.html')
        @@include('./includes/shared/searchitem.html')
        @@include('./includes/shared/searchitem.html')
    </ul>
</div>
<div id="main-content" class="ui-element website-full-view fix-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 id="clicked-text">Main content website</h1>
                <img class="col-lg-12" src="/images/story_1.jpg" alt="Principal alt">
                <p class="col-lg-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Consequatur cumque debitis fugiat fugit hic iure odit quam quod? Dolorem
                    exercitationem expedita hic in maxime perferendis perspiciatis rem ut vero voluptate.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Consequatur cumque debitis fugiat fugit hic iure odit quam quod? Dolorem
                    exercitationem expedita hic in maxime perferendis perspiciatis rem ut vero voluptate.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Consequatur cumque debitis fugiat fugit hic iure odit quam quod? Dolorem
                    exercitationem expedita hic in maxime perferendis perspiciatis rem ut vero voluptate.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Consequatur cumque debitis fugiat fugit hic iure odit quam quod? Dolorem
                    exercitationem expedita hic in maxime perferendis perspiciatis rem ut vero voluptate.</p>
            </div>
        </div>
    </div>
    <div class="container">
      <section>
        <div class="row">
          <div class="col-xs-12">
            <h3 class="comment-title">Comments</h3>
          </div>
          <div id="comment-list-container" class="comment-list">
            @@include('./includes/detail/comment.html')
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-xs-12">
            <div id="comment-contanier" class="comment-container close-form">
              <div class="header-comment">
                <div class="header-item image-container">
                  <img src="/images/adam.jpg" class="img-circle" alt="image avatar">
                </div>
                <div class="header-item avatar-container">
                  <h3>Avatar name</h3>
                </div>
                <div id="show-comment">
                  <h3>Write comment</h3>
                </div>
              </div>
              <form class="comment-form" novalidate>
                <div class="form-group">
                  <div id="content-comment" required contentEditable="true"></div>
                </div>
                <div id="error-comment-message" class="block-content">
                  <div class="text-error">
                    <p class="error-text">texto prueba</p>
                  </div>
                </div>
                <div class="submit-actions">
                  <div class="submit-item">
                    <button id="cancel-comment" class="btn">Cancel</button>
                  </div>
                  <div class="submit-item">
                    <button id="main-comment-form" type="submit" class="btn btn-secondary">Comment</button>
                  </div>
                  <div class="submit-item">
                    <i class="fa fa-spinner fa-pulse fa-fw"></i>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  @@include('./includes/shared/footer.html')
  <script src="/js/app.js"></script>
</body>
</html>
