

@@include('./includes/shared/head.html')
  <body class="full-web">
    @@include('./includes/shared/navbar.html')
    @@include('./includes/shared/header.html')
    <div class="ui-element search-bar">
      @@include('./includes/shared/searchbar.html')
      <ul class="search-list">
        @@include('./includes/shared/searchitem.html')
        @@include('./includes/shared/searchitem.html')
        @@include('./includes/shared/searchitem.html')
      </ul>
    </div>
    <!--<a href="/detail.html">
      <div id="main-content" class="ui-element website-full-view">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1 id="clicked-text">Main content website</h1>
              <img class="col-lg-12" src="/images/story_1.jpg" alt="Principal alt">
              <div>
                <p class="cut-words">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Consequatur cumque debitis fugiat fugit hic iure odit quam quod? Dolorem
                  exercitationem expedita hic in maxime perferendis perspiciatis rem ut vero voluptate.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Consequatur cumque debitis fugiat fugit hic iure odit quam quod? Dolorem
                  exercitationem expedita hic in maxime perferendis perspiciatis rem ut vero voluptate.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Consequatur cumque debitis fugiat fugit hic iure odit quam quod? Dolorem
                  exercitationem expedita hic in maxime perferendis perspiciatis rem ut vero voluptate.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Consequatur cumque debitis fugiat fugit hic iure odit quam quod? Dolorem
                  exercitationem expedita hic in maxime perferendis perspiciatis rem ut vero voluptate.
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </a>-->
      <div class="post-list flex-container">
      </div>

    @@include('./includes/shared/footer.html')
    @@include('./includes/modals/modalaccess.html')
    @@include('./includes/modals/modalsignup.html')
    <script src="/js/app.js"></script>
  </body>
</html> 