.category{
  padding: 0 !important;
  margin: 0 0 15px 0 !important;
}
.category span {
  border: none;
  color: rgba(0, 0, 0, .6);
  background: rgba(0, 0, 0, .05);
  font-weight: 400;
  font-size: .9em;
  border-radius: 3px;
  padding: 3px;
  display: inline-block
}
.category span:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, .1);
}
.category-tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.category-similar-post-tag{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  .category-similar-tag{
    padding: 0 !important;
    margin: 0 !important;
  }
  a:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, .1);
  }
  span{
    border: none;
    color: rgba(0, 0, 0, .6);
    background: rgba(0, 0, 0, .05);
    font-weight: 400;
    font-size: .9em;
    border-radius: 3px;
    padding: 3px;
    display: inline-block
  }
}