p {
  font-size: $font-size-large;
  //padding: 15px 0px 15px 0px;
}

// Flex-Box
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include tablet {
    width: 85%;
    margin: 0 auto;
  }
  @include desktop {
    width: 98%;
    margin: 0 auto;
  }
}

.flex-item-1 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 15px;
  margin-left: 15px
}

.flex-item-2 {
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  margin-right: 15px
}

.metadata .author .date-detail {
  display: block;
  color: rgba(0, 0, 0, .44);
  font-size: .4em
}

.html-text-detail h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 15px;
  @include tablet {
    font-size: 5rem;
  }
  @include desktop {
    font-size: 5rem;
  }
}

.post-detail-item {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw
}

.detail-paragraph {
  margin: 15px;
  text-align: justify
}

.fix-detail{
  margin-top: 100px;
}

.similar-posts{
  margin: 15px;
}

.no-similar-posts span{
  border: none;
  color: rgba(0, 0, 0, .6);
  background: rgba(0, 0, 0, .05);
  font-weight: 400;
  font-size: .9em;
  border-radius: 3px;
  padding: 3px;
  display: inline-block;
  font-size: 15px;
}