.metadata {
  display: flex;
  align-items: center;

  .avatar,
  .author {
    display: inline-block;
  }

  .avatar img {
    border-radius: 50%;
    max-width: 40px;
  }

  .author {
    margin-left: 10px;
  }

  .author .name {
    display: block;
    margin-top: -6px;
    color: $accent-color;
  }

  .author .name:hover {
    cursor: pointer;
  }

  .author .date {
    display: block;
    color: rgba(0, 0, 0, .44);
    font-size: .8em;
  }

  .author p {
    padding: 0px !important;
    margin: 0px !important;
  }
}

.post {
  margin: 10px;
  //display: block;
  border-radius: 3px;
  padding: 20px 20px;
  @include desktop {
    max-width: 296px;
    width: 100%;
    margin: 0 auto;
  }
  @include tablet {
    max-width: 289px;
    margin: 10px;
  }
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  border: 1px solid rgba(0, 0, 0, .09);
  color: rgba(0, 0, 0, .8);
  i {
    color: $secondary-text-color;
  }

  .author {
    display: block;
    color: $secondary-text-color;
    font-size: 0.5em;
  }

  .post:hover {
    cursor: pointer;
  }

  h3 {
    font-weight: 700;
    font-size: 29px;
    line-height: 1.04;
    letter-spacing: -.028em;
    height: 112px;
    overflow-y: hidden;
  }
  h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.04;
    letter-spacing: -.028em;
    margin: 0 !important;
  }

  img {
    width: 100%;
  }
}

.image-fixed {
  max-height: 162px;
  overflow-y: hidden;
  margin-bottom: 6px;
}

.post .html-text {
  height: 53px!important;
  font-family:$main-font-family;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -.004em;
  p{
    margin: 5px 0 5px 0 !important;
  }
}

.post .paragraph-text{
  height: 120px !important;
  p{
    margin:0 !important;
  }
}

.pagination {
  display: block;
  text-align: center;
  width: 100%;
  font-size: .7em
}
