<nav id="main-navbar" class="ui-element navbar hide-animate">
  <div class="content-navbar-header">
    <div class="button-category">
      <a id="searchButton" class="mobile-icons">
        <i class="material-icons">&#xE8B6;</i>
      </a>
    </div>
    <div class="brand">
      <a class="brand" href="index.html">Welldone</a>
    </div>
    <div class="login">
      <div class="mobile-search-access">
        <a href="#" class="Sign-up" data-toggle="modal" data-target="#sign-up-modal">Sign Up</a>
      </div>
      <div class="display-over-tablet-desktop">
        <a href="#" class="login-button" data-toggle="modal" data-target="#sign-in-modal">Sign in </a> 
        <a href="#" class="Sign-up" data-toggle="modal" data-target="#sign-up-modal"> / Sign Up</a>
        <form class="search-bar-form" novalidate="">
          <input type="text" placeholder="Search in Welldone" id="navbarSearchInput" class="text-search-input" name="navSearchInput">
          <button id="searchButtonDesktop" class="search-button" type="submit">
            <i class="material-icons">&#xE8B6;</i>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="content-categories">
    <div class="content-list-category">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a href="#">Food</a>
        </li>
        <li class="navbar-item">
          <a href="#">Sports</a>
        </li>
        <li class="navbar-item">
          <a href="#">Programing</a>
        </li>
        <li class="navbar-item">
          <a href="#">Sports</a>
        </li>
        <li class="navbar-item">
          <a href="#">Programing</a>
        </li>
        <li class="navbar-item">
          <a href="#">Node JS</a>
        </li>
        <li class="navbar-item">
          <a href="#">Art</a>
        </li>
        <li class="navbar-item">
          <a href="#">Music</a>
        </li>
        <li class="navbar-item">
          <a href="#">Music</a>
        </li>
        <li class="navbar-item">
          <a href="#">Music</a>
        </li>
        <li class="navbar-item">
          <a href="#">Music</a>
        </li>
        <li class="navbar-item">
          <a href="#">+ more</a>
        </li>
      </ul>
    </div>
  </div>
</nav>