<li>
  <div class="search-fields-content">
    <div class="search-fields-left-content">
      <div class="profile-avatar">
        <img class="avatar-img" src="./images/avatar_default.png" alt="User Profile Pic">
      </div>
      <div class="search-fields-content-header">
        <h4 class="title-story">Title story</h4>
        <h6 class="user-story">User 1</h6>
      </div>
    </div>
    <div class="categories">
      <i class="fa fa-tags" aria-hidden="true"></i>
      <ul class="list-of-categories">
        <li class="category-item">Sport</li>
        <li class="category-item">Node</li>
        <li class="category-item">Programing</li>
      </ul>
    </div>
  </div>
  <div class="divider-list"></div>
</li>
